<div class="w-full flex mt-4 pr-4 pl-4">
    <div class="ml-3 _celebrity-data">
        <div class="col-white fs-big">
            {{ data.name }}
        </div>
        <div class="col-white fs-medium">
            {{ data.realName }}
        </div>

    </div>
</div>
<div class="mt-3 w-full flex flex-between flex-wrap pr-4 pl-4 _celebrity-social-wrap">
    <a [href]="social.link"
       *ngFor="let social of data.socials">
        <div class="ma-2 _celebrity-social">
            <img [src]="'assets/images/icons/' + social.name + '.svg'">
        </div>
    </a>
</div>
<div class="mt-7 pr-4 pl-4 _celebrity-posts">
    <app-post *ngFor="let post of data.posts"
              [data]="post"
              [profileLink]="getProfileLink(post.platform)"></app-post>
</div>