._post-social-icon {
  width: 45px;
  height: 45px;
}

._view-profile-text {
  &::before {
    background-color: #fff;
    transform: translateX(-50%);
    position: absolute;
    bottom: -25%;
    left: 50%;
    content: "";
    display: block;
    height: 1px;
    width: 20px;
  }
}

a {
  text-decoration: none;
}
