@use "/src/global/variables.scss";
@use "/src/global/functions.scss";
@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";

* {
  font-family: Roboto, sans-serif;
}

body,
html {
  @extend .w-full, .h-full, .ma-0;
  background-color: map-get(variables.$colors, dark);
  overflow-x: hidden;
}

.b-radius-max {
  border-radius: 100%;
}

.b-radius-20 {
  border-radius: 20px;
}

.outline {
  padding: 2px;
  border: 2px solid map-get(variables.$colors, red);
}

.flex {
  display: flex;
}

.flex-middle {
  align-items: center;
}

.flex-center {
  justify-content: center;
}

.flex-between {
  justify-content: space-between;
}

.flex-wrap {
  flex-wrap: wrap;
}

.block {
  display: block;
}

.center {
  text-align: center;
}

.half-opacity {
  opacity: 0.5;
}

img {
  max-width: 100%;
}
